:root{
    --pink_light: #FFFDF0;
    --pink_font:#CC876A;
    --pink-background:#F4D9D2;
    --blue_font: #346D9E;
    --blue_background: #2668A2;
    --golden_font:#CCAD6E;
    --golden_background: #CC876A;

    --max_width: 1200px;
} 


*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ol, ul {
	list-style: none;
}

body{
    margin: 0 auto;
}
/* Header */
header{
    /* background-color: #FFFDF0; */
    background-color: var(--pink_light);
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px 0px;
}

.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem 0rem;
}

.logo>h1 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    color: #BE2233;
}

.pesquisa{
    display: flex;
    background-color: var(--pink-background);
    padding: 0.5rem;
    border-radius: 0.3125rem;
}

.pesquisa>input{
    background-color:var(--pink-background) ;
    outline: none;
    width: 20rem;
}

.material-symbols-outlined{
    color: #CC876A;
}

.conta>a{
   display: flex;
   flex: row;
   text-align: justify;
   align-items: center;
}

.conta>a>p>span{
    color: var(--blue_font);
}

.conta>a>p{
    color:#CC876A
}
.carrinho{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    /* position: relative; */
}

.quant_carrinho{
    background-color: #CC876A ;
    color: white;
    border-radius: 50%;
    padding: 0.3rem;
    /* font-size: 0.8rem;
    position:absolute;
    right: -1.3rem; */
}

.menu_divisor{
    border: 0.5px solid var(--pink-background);
    max-width: var(--max_width);
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: center;
    color: var(--blue_font);
    gap: 2rem;
    padding: 1rem 0rem;
    text-align: center;
}

.menu>a{
    color: var(--blue_font);
}
