@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root{
    --pink_light: #FFFDF0;
    --pink_font:#CC876A;
    --pink-background:#F4D9D2;
    --blue_font: #346D9E;
    --blue_background: #2668A2;
    --golden_font:#CCAD6E;
    --golden_background: #CC876A;
    --cinza: #DEDEDE;

    --max_width: 1200px;

    --font-logo: 'Lora', serif;
    --font-titulo: 'Fraunces', serif;
} 


*{
    margin: 0;
    border: none ;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

ol, ul {
	list-style: none;
}

body{
    margin: 0 auto;
}
/* ________HEADER________ */
header{
    background-color: var(--pink_light);
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 30px 0px;
}

.header1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem 0rem;
    max-width: var(--max_width);
    margin: 0 auto;
}

.logo>h1 {
    font-family: var(--font-logo);
    font-optical-sizing: auto;
    color: #BE2233;
}

.pesquisa{
    display: flex;
    background-color: var(--pink-background);
    padding: 0.5rem;
    border-radius: 0.3125rem;
    flex: 0.5;
    justify-content: space-between;
}

.pesquisa>input{
    background-color:var(--pink-background) ;
    outline: none;
    max-width: 25rem;
}

.material-symbols-outlined{
    color: var(--pink_font);
    cursor: pointer;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.conta>a{
   display: flex;
   flex-direction: row;
   text-align: justify;
   align-items: center;
}

.conta>a>p>span{
    color: var(--blue_font);
}

.conta>a>p{
    color: var(--pink_font)
}
.carrinho{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    /* position: relative; */
}

.quant_carrinho{
    background-color: #CC876A ;
    color: white;
    border-radius: 50%;
    padding: 0.3rem;
    /* font-size: 0.8rem;
    position:absolute;
    right: -1.3rem; */
}

.menu_divisor{
    border: 0.5px solid var(--pink-background);
    max-width: var(--max_width);
    margin: 0 auto;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--blue_font);
    gap: 2rem;
    padding: 1rem 0rem;
    text-align: center;
}

.menu>a{
    color: var(--blue_font);
}

main{
    max-width: var(--max_width);
    margin: 0 auto;
}

/* ________CARROSSEL_______ */

.carousel-inner img{
    aspect-ratio: 19 / 9;
    object-fit: cover;   /* corta a imagem proporcionalmente */
    object-position: initial; /* garante que o corte seja centralizado */
}


/* ________CONTENT________ */

.content{
    display: flex;
    align-items: center;
}

/* _______Produtos________ */

.lancamentos{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.lancamentos>h1{
    font-family: var(--font-titulo);
    color: var(--pink_font);
}

/* Produtos */

.content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card_produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--cinza) 0.2rem solid;
    border-radius: 0.5rem;  
    max-width: 18rem;
}

.card_img{
    width: 100%;
    max-width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    object-fit: cover;
    aspect-ratio: 4/4;
    position: relative;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.lancamento {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--blue_background);
  color: white;
  padding: 0.25rem 0.6rem;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-titulo);
}

.descricao{
    padding: 1rem;
    width: 100%;
    overflow-wrap: break-word;
}

.descricao>p{
    font-family: var(--font-titulo);
    color: var(--blue_font);
}

.nome_produto{
    font-family: var(--font-titulo);
    color: var(--pink_font);
}

.preco_produto{
    font-size: 2rem;
}

/* Reponsividade menu */
@media(max-width:900px){
    .header1 {
        flex-direction: column;
        align-items: center;
    }

    .conta .corrinho{
        flex-direction: row;
    }

    /* Com Flex box */
    /* .menu{
        flex-direction: wrap;
        justify-content: center;
    }
    
    .menu > a {
        flex: 1 1 45%;
        text-align: center;
    } */

    /* Com grid */
    .menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* duas colunas iguais */
        gap: 1rem; 
    }

    main {
        padding: 0 1rem; /* Adiciona 1rem de padding nas laterais do main */

    }
    /* CARROSEL */

    .carousel{
        border-radius: 1rem;
    }
    .carousel-inner{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-inner img{
        width: 90%;
        max-width: 500px;
        margin: 1rem 0;
        border-radius: 1rem;
        aspect-ratio: 3 / 4;
    }

    /* ____CONTENT_MOBILE____ */
    .content{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

    }
}