*{
    margin: 0;
    border: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ol, ul {
	list-style: none;
}

/* Header */
header{
    background-color: #FFFDF0;
    padding: 4rem;
    align-items: center;
    text-align: center;
}

.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.logo>h1 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    color: #BE2233;
}

.pesquisa{
    display: flex;
    background-color: #F4D9D2;
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    border-radius: 0.3125rem;
}

.pesquisa>input{
    background-color:#F4D9D2 ;
}

.material-symbols-outlined{
    color: #CC876A;
}

.conta>a{
   display: flex;
   flex: row;
   text-align: justify;
   align-items: center;
}

.conta>a>p>span{
    color: #346D9E;
}

.conta>a>p{
    color:#CC876A
}
.carrinho{
    display: flex;
    gap: 0.3rem;
}

.carrinho>img{
    height: 26px;
    width: auto;

}

.carrinho>span{
    background-color: #CC876A ;
    color: white;
    border-radius: 50%;
    padding: 0.3rem;
}